# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter & IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
